In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('C:\\Users\\user\\Downloads\\Costomer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
data.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [6]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [11]:
data1=np.array([[271,267,269,280],[29,33,31,20]])
data1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
data3=pd.DataFrame(data1).T
data3

     0   1
0  271  29
1  267  33
2  269  31
3  280  20

In [16]:
from scipy import stats

In [18]:
chi_square_test_val,pval,dof,expected_table = stats.chi2_contingency(observed=data3)

In [19]:
print('*******************************************')
print('Chi-square Test  : ',chi_square_test_val)
print('P-value          : ',pval)
print('Degree of Freedom: ',dof)
print('Expected Table   :\n',expected_table)
print('*******************************************')

*******************************************
Chi-square Test  :  3.8589606858203545
P-value          :  0.2771020991233144
Degree of Freedom:  3
Expected Table   :
 [[271.75  28.25]
 [271.75  28.25]
 [271.75  28.25]
 [271.75  28.25]]
*******************************************

In [ ]:
# significant association is 5%

In [ ]:
# inference:we cannot reject the null hypothesis so customer order forms defective order.