In [1]:
import pandas as pd
import numpy as np

In [3]:
Data=pd.read_csv('C:\\Users\\user\\Downloads\\BuyerRatio.csv')
Data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
revised_data=Data.iloc[:,1:5]
revised_data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [11]:
from scipy import stats

In [16]:
chi_square_test_val,pval,dof,expected_table=stats.chi2_contingency(observed=revised_data)

In [17]:
print('*******************************************')
print('Chi-square Test  : ',chi_square_test_val)
print('P-value          : ',pval)
print('Degree of Freedom: ',dof)
print('Expected Table   :\n',expected_table)
print('*******************************************')

*******************************************
Chi-square Test  :  1.595945538661058
P-value          :  0.6603094907091882
Degree of Freedom:  3
Expected Table   :
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]
*******************************************

In [ ]:
# Ho:All proportions are equal
# Ha:Not all Proportions are equal

In [ ]:
# Check p-value =0.66
# If p-Value < alpha, we reject Null Hypothesis

**alpha >0.05 so that we cannot reject the null hypothesis so the proportions are the same in case of male and female buyers.**